@{
    ViewData["Title"] = "Tech Assessment Home";
}
<head>
	<link rel="stylesheet" href="~/css/ContactUs.css" />
</head>
<body>
    <div class="contactContainer">
        <h1 class="contactH1">Hi Bizstream.</h1>

        <p class="homeText">The hyperlink below will take you to the Contact Us form. Output is written to FormOutput.csv at the root directory.</p>
        <a class="homeText" href="/ContactUs">Go to Contact Us form.</a>
    </div>
</body>
